@import "../../styles/app.scss";

  .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
  }

  .dotPulse {
  position: relative;
  left: -9999px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px #9880ff;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dotPulse::before, .dotPulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9880ff;
  color: #9880ff;
}

.dotPulse::before {
  box-shadow: 9984px 0 0 -5px #9880ff;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dotPulse::after {
  box-shadow: 10014px 0 0 -5px #9880ff;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $bright-purple;
  }
  30% {
    box-shadow: 9984px 0 0 2px $purple;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $bright-purple;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 10054px 0 0 -5px $bright-purple;
  }
  30% {
    box-shadow: 10054px 0 0 2px $purple;
  }
  60%,
  100% {
    box-shadow: 10054px 0 0 -5px $bright-purple;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10124px 0 0 -5px $bright-purple;
  }
  30% {
    box-shadow: 10124px 0 0 2px $purple;
  }
  60%,
  100% {
    box-shadow: 10124px 0 0 -5px $bright-purple;
  }
}
