.logo {
  //display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: inline-block;
  //margin-left: 10px;
  //margin-top: 3px;
  &.small {
    width: 30px;
    height: 30px;
  }
  &.regular {
    width: 50px;
    height: 50px;

  }
  &.large {
    width: 100px;
    height: 100px;
  }
  &.inverse {
    background-image: url('../../images/crown_white.png');
  }
  &.primary {
    background-image: url('../../images/crown_black.png');
  }
}
