
.container {
  padding-top: 50px;
}

h4 {
  &.fullSectionTitle {
    text-align:l left;
  }
  &.sectionTitle {
    text-align: right;
    margin-right:25px;
  }
}

.searchBars {
  margin-bottom:20px;
}
