
.searchContainer {
  position:relative;
  button {
    margin-top: -5px !important;
    position: absolute;
    left: 50%;
  }
}

.search {
  position: absolute;

  //transition: width 1s ease-in-out;
  padding: 17px;
  padding-left: 50px;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 40px;
  //margin-right: 5px;
  //float: left;
  //transition: width 1s ease-in-out;
  transition: left 1s ease-in-out;
  z-index: 1001;
}

.blurred {
  width: 250px;
  transition: width 1s ease-in-out;
  .search {
    left: calc(50% + 65px);
  }
  button {
    opacity: 0.0;
    transition: opacity 1s ease-in-out;
    left: 105%;
    top: 5px;
    z-index: 1000;
  }
}

.focused {
  width: 350px;
  transition: width 1s ease-in-out;
  .search {
    left: 0;
  }
  button {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    left: 105%;
    top: 5px;
    z-index: 1000;
  }
}
