@import "../styles/app.scss";

.small {
  height: 3em;
  width: 7em;
}

.regular {
  height: 3.1em;
  width: 10em;
  font-size: 1.15em !important;
}

.large {
  height: 3.5em;
  width: 12em;
  font-size: 1.5em !important;
}

.primary {
  &:not([disabled]) {
    background-color: $purple !important;
  }
  box-shadow: 0px 3px 1px -2px rgb(164 84 246 / 20%), 0px 2px 2px 0px rgb(164 84 246 / 14%), 0px 1px 5px 0px rgb(164 84 246 / 12%) !important;
}

.inverse {
  background-color: $svn-orange !important;
  box-shadow: 0px 3px 1px -2px rgb(255 204 28 / 20%), 0px 2px 2px 0px rgb(255 204 2 / 14%), 0px 1px 5px 0px rgb(255 204 2 / 12%) !important;
}
