.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  margin-left: 10px;
  margin-top: 3px;
  &.primary {
    background-color: #000;
    background-image: url('../images/question-white.png');
  }
  &.inverse {
    background-color: #fff;
    background-image: url('../images/question-black.png');
  }
}
