@import "../../styles/app.scss";

/* .squaredThree */
.formCheck {
  margin-bottom: 1em;
}

.formCheckLabel {
  padding-top: .3em;
}

.formCheckInput {
  width: 2em;
  margin-right:.5em;
  &:focus {
    border-color: rgba(164, 84, 246, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(164, 84, 246, 0.6);
    outline: 0 none;
  }
  &:checked {
    background-color: $purple;
    border-color: $purple;
  }
}
